@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Welcome to miBank</h1>
</div>

<hr />

<div>
    @{
        var isLoggedIn = Context.Session.GetInt32(nameof(Customer.CustomerID)).HasValue;
    }
    @if (!isLoggedIn)
    {
        <h5>Login to access your bank accounts</h5>
        <a asp-controller="Login" asp-action="Login" class="btn btn-primary">Login</a>
    }
    else
    {
        <h5>Remember to log out when you're done</h5>
        <a asp-controller="Login" asp-action="Logout" class="btn btn-primary">Logout</a>
    }

</div>
