@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">A2 S3500659 Bank System</h1>


</div>

<hr />

<h3>Example links</h3>
<!--Exmaples links on the front index page-->
<p>
    <a asp-controller="Login" asp-action="Login">Login link using Tag Helper</a>
</p>
<p>
    @Html.ActionLink("Login link using Html Helper", "Login", "Login")
</p>
